---
layout: research
---

<h1>Research</h1>

My research activities are divided into different strands and projects.
The publications are reported by subject area and project in descending
temporal order.<br>

The same information can be found on either my <a href="https://scholar.google.it/citations?user=sB3fLcMAAAAJ&hl=it"
target="_blank"><i class="fab fa-google"> Google Scholar Profile</i></a>, my
<a href="https://www.researchgate.net/profile/Fabio_Durastante2" target="_blank">
  <i class="fab fa-researchgate"> ResearchGate</i></a>, or my
<a href="https://orcid.org/0000-0002-1412-8289" target="_blank"><i class="fab fa-orcid">
  Orcid</i></a> profile.<br><br>


Solving Linear Algebra problems is a core task in pretty much every Scientific
challenge, from the numerical solution of partial differential equations to the
new problems arising in the analysis of larger and larger sets of data. Moreover,
we are fastly moving towards the use of exascale-enabled HPC platforms, thus we
need to be capable of pushing our algorithms (and codes) to work efficiently in
this environment. This first research line deals with this type of issue, and
more specifically with the task of solving linear systems of equations,
$$ A \mathbf{x} = \mathbf{b}, \qquad A \in \mathbb{R}^{N \times N}, \; \mathbf{x},\mathbf{b} \in \mathbb{R}^{N}, $$
in which $A$ is a <em>large</em>, $N \geq 10^9$, and <em>sparse</em>,
number on non-zero entries proportional to $N$, matrix. The key instruments are
here <b>Krylov Subspace Methods</b>, <b>Geometric</b> and <b>Algebraic Multigrid</b>
preconditioners, and the application of update strategies to deal with more than
one linear system.
<table style="width:100%">
  <colgroup>
   <col span="1" style="width: 30%;">
   <col span="1" style="width: 70%;">
 </colgroup>
 <tr>
   <td style="text-align: center">Preconditioning for large and sparse linear systems</td>
   <td>
     <ul class="fa-ul">
     <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
     <strong>P. D'Ambra</strong>; <strong>F. Durastante</strong>;
     <strong>S. Filippone</strong>; Parallel Sparse Computation Toolkit. (2022).
     <b>Submitted</b>.
     </li>
     <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
     <strong>Owen, H.</strong>; <strong>Lehmkuhl, O.</strong>;
     <strong>D'Ambra, P.</strong>; <strong>Durastante, F.</strong>;
     <strong>Filippone, S.</strong>; Alya towards Exascale: Algorithmic
     Scalability using PSCToolkit. (2022). <b>Submitted</b>.
     </li>
     <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
      <strong>Bertaccini, D.</strong>; <strong>D'Ambra, P.</strong>;
      <strong>Durastante, F.</strong>; <strong>Filippone, S.</strong>;
      Why diffusion-based preconditioning of Richards equation works: spectral
      analysis and computational experiments at very large scale. (2022). <b>Submitted</b>.
      {% include arxiv.html content="https://arxiv.org/abs/2112.05051" %}
     </li>
     <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
       <strong>D'Ambra, P.</strong>; <strong>Durastante, F.</strong>;
       <strong>Ferdous, S.M.</strong>; <strong>Filippone, S.</strong>;
       <strong>Halappanavar, M.</strong>; <strong>Pothen A.</strong>.
       AMG Preconditoners based on parallel hybrid coarsening exploiting
       multi-objective graph matching. (2021). <b>Submitted</b>.
     </li>
     <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
       <strong>D'Ambra, P.</strong>; <strong>Durastante, F.</strong>;
       <strong>Filippone, S.</strong>; <strong>Zikatanov, L.</strong>.
       On the quality of matching-based
       aggregates for algebraic coarsening of SPD matrices in AMG. (2022). <b>Submitted</b>.
       {% include arxiv.html content="https://arxiv.org/abs/2001.09969" %}
     </li>
     <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
       <strong>D'Ambra, P.</strong>; <strong>Durastante, F.</strong>;
       <strong>Filippone, S.</strong>.
       AMG Preconditioners for Linear Solvers towards Extreme Scale.
        <em>SIAM J. Sci. Comput.</em> <strong> 43 </strong> (2021),
        no. 5, S679-S703.
        <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4331965" target="_blank">
          <strong>MR4331965</strong></a>
        <a href="/bibtex/Dambra2021.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
     </li>
     <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bertaccini, D.</strong>; <strong>Durastante, F.</strong>.
         Iterative methods and preconditioning for large and sparse linear systems
         with applications. Monographs and Research Notes in Mathematics.
         <em>CRC Press, Boca Raton, FL,</em>  2018. xviii+353 pp.
         ISBN: 978-1-4987-6416-2
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3793630"
         target="_blank"><strong>MR3793630</strong></a>
         <a href="/bibtex/Bertaccini2018b.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bertaccini, D.</strong>; <strong>Donatelli, M.</strong>;
         <strong>Durastante, F.</strong>; <strong>Serra-Capizzano, S.</strong>.
         Optimizing a multigrid Runge-Kutta smoother for variable-coefficient
         convection-diffusion equations. <em>Linear Algebra Appl.</em>  533  (2017),
         507--535. <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3695922"
         target="_blank"><strong>MR3695922</strong></a>
         <a href="/bibtex/Bertaccini2017b.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bertaccini, D.</strong>; <strong>Durastante, F.</strong>.
         Interpolating preconditioners for the solution of sequence of linear systems.
         <EM>Comput. Math. Appl.</EM> <STRONG> 72 </STRONG> (2016),  no. 4, 1118--1130.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3529065"
         target="_blank"><strong>MR3529065</strong></a>
         <a href="/bibtex/Bertaccini2016.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
     </ul>
   <td>
 </tr>
</table>

Fractional calculus is that subset of Analysis that studies the possibilities of
defining differential operators of real or complex order. After the definition
of such objects, the need to numerically approximate the solution of differential
equations defined in terms of them immediately arises. The following papers deal
with the efficient numerical solution of different formulations of such problems.

<table style="width:100%">
  <colgroup>
   <col span="1" style="width: 70%;">
   <col span="1" style="width: 30%;">
 </colgroup>
 <tr>
   <td>
     <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
        <strong>Aceto, L.</strong>; <strong>Durastante, F.</strong>. Efficient
        computation of the Wright function and its applications to fractional
        diffusion-wave equations. <em>ESAIM Math. Model. Numer. Anal.</em>
        <strong> 56 </strong> (2022),  no. 6, 2181--2196.
        <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4516169"><strong>MR4516169</strong></a>
        <a href="/bibtex/Aceto2022.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
      </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Durastante, F.</strong>. Efficient solution of time-fractional
         differential equations with a new adaptive multi-term discretization of
         the generalized Caputo-Dzherbashyan derivative.
         <em>Calcolo</em> <strong> 56 </strong> (2019),  no. 4, Paper No. 36, 24 pp.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4015149" target="_blank">
           <strong>MR4015149</strong></a>
         <a href="/bibtex/Durastante2019.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bertaccini, D.</strong>; <strong>Durastante, F.</strong>.
         Efficient preconditioner updates for semilinear space-time fractional
         reaction-diffusion equations. <em> Structured matrices in numerical linear algebra, </em>
         285--302, Springer INdAM Ser., 30, <em>Springer, Cham,</em>  2019.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3931580"
         target="_blank"><strong>MR3931580</strong></a>
         <a href="/bibtex/Bertaccini2019c.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bertaccini, D.</strong>; <strong>Durastante, F.</strong>
         Block structured preconditioners in tensor form for the all-at-once
         solution of a finite volume fractional diffusion equation.
         <em>Appl. Math. Lett.</em>  95  (2019), 92--97.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3936774"
         target="_blank"><strong>MR3936774</strong></a>
         <a href="/bibtex/Bertaccini2019b.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bertaccini, D.</strong>; <strong>Durastante, F.</strong>.
         Limited memory block preconditioners for fast solution of fractional partial
         differential equations. <em>J. Sci. Comput.</em> <strong> 77 </strong>
         (2018),  no. 2, 950--970.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3860196" target="_blank">
           <strong>MR3860196</strong></a>
         <a href="/bibtex/Bertaccini2018.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bertaccini, D.</strong>; <strong>Durastante, F.</strong>.
         Solving mixed classical and fractional partial differential equations
         using short-memory principle and approximate inverses.
         <em>Numer. Algorithms</em> <strong> 74 </strong> (2017),  no. 4, 1061--1082.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3626328" target="
         _blank">
         <strong>MR3626328</strong></a>
         <a href="/bibtex/Bertaccini2017.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
     </ul>
   </td>
   <td style="text-align: center">Numerical treatment of Fractional Differential Equations</td>
 </tr>
 </table>

Numerical optimal control theory is a part of numerical optimization that deals
with the problem of finding a <em>control</em> for either a boundary value problem
or a dynamical system over a period of time in such a way that an objective function
is minimized/maximized. The prototypical problem of this type has the form
$$ (y^*,u^*) = \arg\min_{u \in \mathcal{U}} J(y,u) = \frac{1}{2}\|y - y_z\|_2^2 + \frac{\lambda}{2} \| u \|_2^2, \text{ s.t. } e(y,u) = 0,$$
where $\mathcal{U}$ is a function space containing the admissible controls, $y_z$
a target state, and $e(y,u)=0$ a boundary value problem that the quantities $y$
and $u$ have to satisfy. The numerical solution of such a problem is challenging
in many ways, it mixes together optimization, differential, and linear algebra
problems in a non-trivial way.
 <table style="width:100%">
   <colgroup>
    <col span="1" style="width: 30%;">
    <col span="1" style="width: 70%;">
  </colgroup>
  <tr>
    <td style="text-align: center">Numerical optimal control of Partial Differential Equations</td>
    <td>
    <ul class="fa-ul">
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
      <strong>Durastante, F.</strong>; <strong>Furci, I.</strong>.
      Spectral analysis of saddle-point matrices from optimization problems
      with elliptic PDE constraints. <em>Electron. J. Linear Algebra</em>  36
      (2020), 773--798.
      <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4188673">
        <strong>MR4188673</strong></a>
    <a href="https://journals.uwyo.edu/index.php/ela/article/view/5151/5191">Open Access</a>.
    <a href="/bibtex/Durastante2020.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
    </li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
    <strong>Durastante, F.</strong>; <strong>Cipolla, S.</strong>.
    Fractional PDE constrained optimization: box and sparse constrained problems.
    <em> Numerical methods for optimal control problems, </em>
    111--135, Springer INdAM Ser., 29, <em>Springer, Cham,</em>  2018.
    <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3889795"
    target="_blank">
    <strong>MR3889795</strong></a>
    <a href="/bibtex/Cipolla2018b.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
    </li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
      <strong>Cipolla, S.</strong>; <strong>Durastante, F.</strong>.
      Fractional PDE constrained optimization: an optimize-then-discretize
      approach with L-BFGS and approximate inverse preconditioning.
      <em>Appl. Numer. Math.</em>  123  (2018), 43--57.
      <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3711990"
      target="_blank"><strong>MR3711990</strong></a>
      <a href="/bibtex/Cipolla2018.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
    </li>
    </ul>
    </td>
  </tr>
  </table>
  A matrix function is simply a function which maps a matrix to another matrix,
  indeed to maintain interesting properties one has to extend the concept of
  scalar function to a matrix in a clever way. If, e.g., $f$ is a function
  admitting a Taylor expansion with radius of convergence $r$, and $A$ is a
  matrix such $\|A\| < r$ for any compatible norm $\|\cdot\|$, then $f(A)$ can
  be defined as
  $$ f(A) = \sum_{j=0}^{+\infty} c_k A^k, $$
  for $c_k$ the Taylor coefficients of $f$. Equivalently, if $A$ is diagonalizable,
  and $f$ is defined on the eigenvalues of $A$, then
  $$ f(A) = X f(\Lambda) X^{-1}, \qquad A = X \Lambda X^{-1}, \; f(\Lambda)_{i,i} = f(\lambda_i(A)), $$
  and in several other ways for more general $A$ and $f$. In any case, one of the
  principal numerical task that one can face is the computation of Matrix-Function-vector
  products, i.e., $\mathbf{y} = f(A)\mathbf{x}$, for $A$ a <em>large and sparse</em>
  matrix. The following line of research deals with these kind of problems by
  different techniques, and for different purposes (solution of Fractional
  differential equations, network analysis, <em>etc.</em>).
  <table style="width:100%">
    <colgroup>
     <col span="1" style="width: 70%;">
     <col span="1" style="width: 30%;">
   </colgroup>
   <tr>
     <td>
       <ul class="fa-ul">
         <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
         <strong>Aceto, L.</strong>; <strong>Durastante, F.</strong>.
         Theoretical error estimates for computing the matrix logarithm by
         Padé-type approximants. <strong>Submitted</strong>.
         {% include arxiv.html content="http://arxiv.org/abs/2211.06206" %}
         </li>
         <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
           <strong>Bertaccini, D.</strong>; <strong>Durastante, F.</strong>.
           Computing function of large matrices by a preconditioned rational Krylov
           method.
           <em> Numerical mathematics and advanced applications ENUMATH 2019, </em>
            343--351, Lect. Notes Comput. Sci. Eng., 139, <em>Springer, Cham,</em>
            [2021], 2021. <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4266513">
            <strong>MR4266513</strong></a>
            <a href="/bibtex/Bertaccini2021.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
        </li>
         <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
           <strong>Bertaccini, D.</strong>; <strong>Durastante, F.</strong>
           Computing functions of very large matrices with small TT/QTT ranks
           by quadrature formulas. <em>J. Comput. Appl. Math.</em>  370  (2020),
           112663, 15 pp.
           <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4046619"
           target="_blank">
           <strong>MR4046619</strong></a>
           <a href="/bibtex/Bertaccini2020.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
         </li>
         <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
           <strong>Aceto, L.</strong>; <strong>Bertaccini, D.</strong>;
           <strong>Durastante, F.</strong>; <strong>Novati, P.</strong>
           Rational Krylov methods for functions of matrices with applications
           to fractional partial differential equations.
           <em>J. Comput. Phys.</em>  396  (2019), 470--482.
           <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3989621"
           target="_blank"><strong>MR3989621</strong></a>
           <a href="/bibtex/Aceto2019.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
         </li>
         <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
           <strong>Bertaccini, D.</strong>; <strong>Popolizio, M.</strong>;
           <strong>Durastante, F.</strong> Efficient approximation of functions
           of some large matrices by partial fraction expansions.
           <em>Int. J. Comput. Math.</em> <strong> 96 </strong> (2019),  no. 9,
           1799--1817.
           <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3960343"
           target="_blank"><strong>MR3960343</strong></a>
           <a href="/bibtex/Bertaccini2019.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
         </li>
       </ul>
     </td>
     <td style="text-align:center;"> Matrix-Functions </td>
  </tr>
  </table>
  Network science is the study of complex networks that are nothing more than
  graphs that are both not random and not structured, e.g., one usually does not
  consider Cayley graphs encoding the structure of an abstract group.
  Examples are telecommunication networks, computer networks, biological
  networks, social networks, and many others. In each case, every actor is
  represented by a vertex of the graph and their connections as an edge.
  My interest in this field lies both in the modeling and the computational
  aspects, specifically in the task of extracting information on the networked
  phenomena by looking at the topology of the graph.
  <table style="width:100%">
    <colgroup>
     <col span="1" style="width: 30%;">
     <col span="1" style="width: 70%;">
   </colgroup>
   <tr>
     <td style="text-align:center">Graphs and Network Science: Complex-Networks</td>
     <td>
     <ul class="fa-ul">
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bertaccini, Daniele</strong>; <strong>Durastante, F.</strong>
         Nonlocal diffusion of variable order on complex networks.
         <em>Int. J. Comput. Math. Comput. Syst. Theory</em> <strong> 7 </strong>
         (2022),  no. 3, 172--191.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4483942" target="_blank"><strong>MR4483942</strong></a>
         <a href="/bibtex/Bianchi2022.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Bianchi, D.</strong>; <strong>Donatelli, M.</strong>;
         <strong>Durastante, F.</strong>; <strong>Mazza, M.</strong>.
         Compatibility, embedding and regularization of non-local random
         walks on graphs. <em>J. Math. Anal. Appl.</em> <strong> 511</strong>
         (2022),  no. 1, Paper No. 126020, 30 pp.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4379318" target="_blank">
           <strong>MR4379318</strong></a>
         <a href="/bibtex/Bianchi2022.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Arrigo, F.</strong>; <strong>Durastante, F.</strong>.
         Mittag–Leffler Functions and their Applications in Network Science.
         <em>SIAM J. Matrix Anal. Appl.</em> <strong> 42 </strong> (2021),
         no. 4, 1581--1601. <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4340667"
         target="_blank"><strong>MR4340667</strong></a>
         <a href="/bibtex/Arrigo2021.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Cipolla, S.</strong>; <strong>Durastante, F.</strong>;
         <strong>Tudisco, F.</strong>. Nonlocal pagerank.
         <em>ESAIM Math. Model. Numer. Anal.</em> <strong> 55 </strong> (2021),
         no. 1, 77--97.
         <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4216832"
         target="_blank"><strong>MR4216832</strong></a>
         <a href="/bibtex/Cipolla2021b.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
       </li>
       <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
         <strong>Benzi, M.</strong>; <strong>Bertaccini, D.</strong>;
         <strong>Durastante, F.</strong>; <strong>Simunec, I.</strong>.
         Non-local network dynamics via fractional graph Laplacians.
         <em>J. Complex Netw.</em> <strong> 8 </strong> (2020),  no. 3, cnaa017,
         29 pp. <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR4130854"
         target="_blank"><strong>MR4130854</strong></a>
         <a href="/bibtex/Benzi2020.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
      </li>
     </ul>
     </td>
  </tr>
  </table>

Inverse problems are involved in the task of inferring the parameters of the
model from a set of (possibly noisy) measurements requires. These types of
problems can be difficult to solve for several reasons, e.g., one could be
dealing with a lack of unicity, that is: different values of parameters are
consistent with the measurement, and discovering the parameters may be
challenging from the computational point of view. I have done some work in using
linear algebra techniques for a particular type of inverse problem that is
<em>image denoise and deblurring</em>, that is the process of removing blurring
artifacts and noise from images (e.g., somebody shook the camera while we were
taking the photo).
  <table style="width:100%">
    <colgroup>
     <col span="1" style="width: 70%;">
     <col span="1" style="width: 30%;">
   </colgroup>
  <tr>
  <td>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
        <strong>Cipolla, S.</strong>; <strong>Donatelli, M.</strong>;
        <strong>Durastante, F.</strong>. Regularization of Inverse
        Problems by an Approximate Matrix–Function Technique.
        <em>Numer. Algorithms</em> <strong>88</strong> (2021), 1275-1308.
        DOI. <a href="https://link.springer.com/article/10.1007/s11075-021-01076-y" target="_blank">10.1007/s11075-021-01076-y</a>.
        <a href="/bibtex/Cipolla2021.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
     </li>
      <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
        <strong>Cipolla, S.</strong>; <strong>Di Fiore, C.</strong>;
        <strong>Durastante, F.</strong>; <strong>Zellini, P.</strong>.
        Regularizing properties of a class of matrices including the optimal and
        the superoptimal preconditioners. <em>Numer. Linear Algebra Appl.</em>
        <strong> 26 </strong> (2019),  no. 2, e2225, 17 pp.
        <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=MR3911025"
        target="_blank"><strong>MR3911025</strong></a> <a href="/bibtex/Cipolla2019.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
     </li>
   </ul>
  </td>
  <td style="text-align: center">
    Regularization and Inverse Problems
  </td>
  </tr>
  </table>
  <p>Every so often a mathematician with a solution meets a person with that
    problem, this is what happens.</p>
  <table style="width: 100%">
    <colgroup>
     <col span="1" style="width: 70%;">
     <col span="1" style="width: 30%;">
   </colgroup>
   <tr>
     <td>
       <ul class="fa-ul">
         <li><span class="fa-li"><i class="fas fa-check-square"></i></span>
           <strong>Mauro, C.</strong>;   <strong>Durastante, F.</strong>.
           Evaluating visibility at sea: Instrumental data and historical nautical
           records. Mount Etna from the Calabrian Ionian coast (Italy).
           <em>The Journal of Island and Coastal Archaeology, 17.1</em> (2022),
           21-42 pp. <a href="/bibtex/Mauro2022.bib" target="_blank"><i class="fa-solid fa-quote-right"></i></a>
        </li>
      </ul>
     </td>
     <td style="text-align: center">Applications, intersections, contaminations</td>
   </tr>
  </table>

 <h3> Projects </h3>

<ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-coins"></i></span>Funding for 2700.00 €
  for the 2022 GNCS INdAM project "Metodi numerici per l’analisi di modelli
  innovativi di reti complesse" with Principal Investigator: Fabio Durastante
  and participants: B. Meini, P. Boito, S. Massei, G. Del Corso, M. Benzi,
  D. Bertaccini, P. D'Ambra, B. Iannazzo, A. Bucci, C. Faccio, M. Rinelli,
  I. Simunec.</li>
  <li><span class="fa-li"><i class="fas fa-coins"></i></span>Funding for 11656.03 €
  for the project "¿Ver o no ver? Una aproximación interdisciplinar a los
  estudios de visibilidad en el contexto de la navegación antigua (siglos IX-IV a.C.)."
  (PR27/21-018) co-financed by the Comunidad de Madrid and the Universidad
  Complutense. Principal Investigator C. M. Mauro. </li>
  <li><span class="fa-li"><i class="fas fa-people-carry"></i></span> Member of
    the Work-Package 6 (WP6) "Applications and Use cases" in the European
    <a href="https://textarossa.eu/" target="_blank">TEXTAROSSA</a> project.
  </li>
  <li><span class="fa-li"><i class="fas fa-coins"></i></span> Funding for
  15000€ for the organization of the INdAM workshop on "Fractional Differential Equations:
  Modeling, Discretization, and Numerical Solvers" (<a
  href="https://fractionalworkshop.github.io/" target="_blank">
  https://fractionalworkshop.github.io/</a>). Organizing committee:
    Angelamaria Cardone, Marco Donatelli, Fabio Durastante, Roberto Garrappa,
    Mariarosa Mazza, Marina Popolizio.
   </li>
   <li><span class="fa-li"><i class="fas fa-people-carry"></i></span> Member of
     the Work-Package 3 (WP3) "Scalable Solvers" in the European
     <a href="https://www.eocoe.eu" target="_blank">EoCoE-II</a> project.
     <ul>
       <li>Writer for the Deliverable: ``D3.2
		Preliminary results and performance evaluation of
		Linear Algebra solvers'',</li>
      <li>Contributor for the Deliverable: ``D3.3
		Updated results and new releases of LA solvers.''</li>
     </ul>
   </li>
   <li><span class="fa-li"><i class="fas fa-coins"></i></span>
     Funding for 1200€ for the 2020 GNCS-INDAM Project "Nonlocal models for
     the analysis of complex networks" with Principal Investigator F. Durastante </li>
   <li><span class="fa-li"><i class="fas fa-coins"></i></span>
     Funding for 3400€ for the 2019 GNCS-INDAM Project "Tecniche innovative e
parallele per sistemi lineari e non lineari di grandi dimensioni, funzioni ed equazioni
matriciali ed applicazioni" with Principal Investigator D. Bertaccini together
with L. Bergamaschi, P. D’Ambra, M. Ferronato, C. Janna, F. Marcuzzi, A.
Martinez Calomardo, V. Simoncini, M. Porcelli, D. Brandoni
   </li>
   <li><span class="fa-li"><i class="fas fa-coins"></i></span>
     Funding for 4500€ for the 2018 GNCS-INDAM project "Tecniche innovative
per problemi di algebra lineare" with Principal Investigator D. Bertaccini together
with D. Bini, G. Del Corso, D. Fasino, L. Gemignani, B. Iannazzo, N.
Mastronardi, B. Meini, F. Poloni, A. Fayyaz, P. Boito, M. Fasi, I. Furci, S.
Massei and L. Robol.
   </li>
 </ul>

 <h3> Membership in scientific societies </h3>

 <ul class="fa-ul">
   <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>
     Istituto Nazionale di Alta Matematica (INdAM) - Gruppo Nazionale di Calcolo Scientifico (GNCS).
   </li>
   <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>
     Società Italiana di Matematica Applicata e Industriale (SIMAI).
   </li>
   <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>
     Society of Industrial and Applied Mathematics (SIAM) - Activity group in Linear Algebra.
   </li>
   <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>
     Unione Matematica Italiana (UMI).
   </li>
 </ul>

 <h3> Collaboration Network </h3>

 Most of the work described here has been done with several collaborators. I am
 always working on expanding my network of collaborators by looking for people to
 do interesting things with.

 <iframe src="/network.html" width="100%" height="450px" style="border:none;"
    title="Collaboration Network"></iframe>

 <h3> Bibliometric indexes  </h3>
 <q>Not everything that counts can be counted, and not everything that can be counted counts.</q><br>
  <table>
  <tr>
    <td><img src="/assets/img/FDhIndex.png" width="80%" alt="H-Index"></td>
    <td><img src="/assets/img/FDSubjectAreas.png" width="80%" alt="Subject Areas"></td>
  </tr>
  <tr>
    <td style="text-align: center;">(Scopus) H-Index: 7</td>
    <td style="text-align: center;">(Scopus) Subject Areas</td>
  </tr>
  </table>

<h2> Editorial Work </h2>

I serve as editor for:
<ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-pen-nib"></i></span> <a href="http://www.springer.com/mathematics/applications/journal/40314" target="_blank">Computational and Applied Mathematics</a> (Comput. Appl. Math.)</li>
  <li><span class="fa-li"><i class="fas fa-pen-nib"></i></span> <a href="https://jmm.guilan.ac.ir/" target="_blank">Journal of Mathematical Modeling</a> (J. Math. Model.)</li>
</ul>
<br>
I have served as reviewer for manuscripts submitted to the following journals.<br>
<table>
<tr>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=25708&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=25708" alt="SCImago Journal &amp; Country Rank"  /></a> </td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=26425&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=26425" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=26419&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=26419" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=61774&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=61774" alt="SCImago Journal &amp; Country Rank"  /></a></td>
</tr>
<tr>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=25170&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=25170" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=25307&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=25307" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=25712&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=25712" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=25713&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=25713" alt="SCImago Journal &amp; Country Rank"  /></a></td>
</tr>
<tr>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=27856&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=27856" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=18534&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=18534" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=18120&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=18120" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=28067&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=28067" alt="SCImago Journal &amp; Country Rank"  /></a> </td>
</tr>
<tr>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=21100422153&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=21100422153" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=26415&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=26415" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=23847&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=23847" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=21100830702&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=21100830702" alt="SCImago Journal &amp; Country Rank"  /></a></td>
</tr>
<tr>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=19900193816&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=19900193816" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=24557&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=24557" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=19900192450&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=19900192450" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=24557&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=24557" alt="SCImago Journal &amp; Country Rank"  /></a></td>
</tr>
<tr>
  <td> <a href="https://www.scimagojr.com/journalsearch.php?q=21100201542&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=21100201542" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=28494&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=28494" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=5000153703&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=5000153703" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=4000149606&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=4000149606" alt="SCImago Journal &amp; Country Rank"  /></a></td>
</tr>
<tr>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=21100287116&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=21100287116" alt="SCImago Journal &amp; Country Rank"  /></a></td>
  <td><a href="https://www.scimagojr.com/journalsearch.php?q=21100927407&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img border="0" src="https://www.scimagojr.com/journal_img.php?id=21100927407" alt="SCImago Journal &amp; Country Rank"  /></a></td>
</tr>
</table>
