<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Research</h2>
    <i class="icon fa fa-coffee"> </i>
    <i class="icon fa fa-file-text"> </i>
    <i class="icon fa fa-code"> </i>
    <p>My main area of interest is in Numerical Linear Algebra and
      Sparse Matrix Computations. I have also a keen interest in Algebraic
      Multigrid Preconditioners, Matrix Functions, Complex Networks, Optimal
      Control Problems and in the Modeling of Nonlocal Phenomena through
      Fractional Derivatives. </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-python-plain colored"></i>
    <p>I develop Scientific Software in Fortran 2018, C, Python, and Matlab/Octave.
      I work also in parallel computing with MPI, OpenMP and CUDA.</p>
  </div>
  <div class="tech">
    <h2>Teaching</h2>
    <i class="icon fa fa-graduation-cap"></i>
    <i class="icon fa fa-book"></i>
    <p>I currently teach and work at the Mathematics Department of Pisa
      University. See below for information concerning the courses.</p>
  </div>
</div>
