<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:fabio.durastante@unipi.it"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" href="https://twitter.com/CirdansHome" targe="_blank"><i class="icon fa fa-twitter"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/fdurastante/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Cirdans-Home"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My ResearchGate" target="_blank" href="https://www.researchgate.net/profile/Fabio_Durastante2"><i class="icon fab fa-researchgate" aria-hidden="true"></i></a>
        <a aria-label="My GoogleScholar" target="_blank" href="https://scholar.google.it/citations?user=sB3fLcMAAAAJ&hl=it"><i class="icon fab fa-google" aria-hidden="true"></i></a>
        <a aria-label="My Orcid" target="_blank" href="https://orcid.org/0000-0002-1412-8289"><i class="icon fab fa-orcid" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="{{ '/research.html' | prepend: site.baseurl }}">Research</a>
        <a class="link" href="{{ '/conferences.html' | prepend: site.baseurl }}">Conferences</a>
        <a class="link" href="{{ '/code.html' | prepend: site.baseurl }}">Code</a>
        <a class="link" href="{{ '/teaching.html' | prepend: site.baseurl }}">Teaching</a>
        <a class="link" href="{{ '/students.html' | prepend: site.baseurl }}">Students&#38;Theses</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
