<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <div style="display: inline-block">
        <ul>
          <li><a href="#cpar2021">Calcolo Parallelo, 2021</a></li>
          <li><a href="#lsmc2021">Laboratorio sperimentale matematica computazionale, 2021</a></li>
          <li><a href="#cpar2020">Calcolo Parallelo, 2020</a></li>
        </ul>
      </div>
      <section id="about">
      <div class="standard-page" style="text-align: justify; text-justify: inter-word;">
        {{ content }}
      </div>
      </section>
      {% include footer.html %}
  </body>
</html>
