<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <div style="width: 100%; display: table; max-width:1200px" id="about">
      <div style="width: 140px; display: table-cell;">
        <br><br><br><br>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-book"></i></span><a href="#cpar2021">Calcolo Parallelo, 2021</a></li>
          <li><span class="fa-li"><i class="fas fa-book"></i></span><a href="#lsmc2021">Laboratorio sperimentale matematica computazionale, 2021</a></li>
          <li><span class="fa-li"><i class="fas fa-book"></i></span><a href="#cpar2020">Calcolo Parallelo, 2020</a></li>
        </ul>
      </div>
      <div style="text-align: justify; text-justify: inter-word; display: table-cell; padding-left: 20px">
        {{ content }}
      </div>
      </div>
      {% include footer.html %}
  </body>
</html>
